*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.description{
    margin-top: 30px;
}

.search-box{
    width: 668px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input{
    height: 48px;
    width: 30rem;
    border: 1px solid rgba(15, 25, 30, 0.2);
    padding-left: 13px;
    border-radius: 4px;
}

.search-btn{
    width: 4rem;
    height: 2.8rem;
    border: none;
    background: rgba(5, 190, 80, 0.8);
    border-radius: 4px;
    padding-top: 5px;
    color:#0039A6;
    margin: 0.5rem;
}

.mail{
    display: none;
}

.break{
    margin-top: 60px;
}
.container-button-search{
    display: flex;
    justify-content: center;
}
.all-search-button{
    width: 8rem;
    height: 2.8rem;
    background-color: rgba(5, 190, 80, 0.8);
    color:#0039A6;
    border-radius: 4px;
    padding-top: 5px;
    margin: 0.5rem;
}
.container-input-value{
    display: flex;
}