h1{
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #0039A6;
    margin-top:.8rem;
    margin-bottom: .7rem;
}

h2{
  margin-left: 0.2rem;
  text-align: left; 
  font-size: 5vh;
}


.graphi, .graphi::before{
    width: 12rem;
    height: 12rem;
    border-radius:  60%;
    margin: auto;
    position: relative;
    transform: rotate(90deg);
    background: linear-gradient(
        0deg,
        rgb(10, 160, 10) 20%,
        rgb(50, 10, 160 , .2) 20%
    );
}
.graphi::before {
    content:  "iniciativas";
    position: absolute;
    top : 0;
    left: 0;
    background: rgb(243, 241, 241) content-box;
    padding : .8em;
    box-sizing: border-box;
    font: size 3rem; 
    color: seagreen;
    text-align: center;
    line-height: 8rem;
    transform: rotate(-90deg);
   
}

  
    
.init, .init::before{
    margin-top:.8rem;
    width: 12rem;
    height: 12rem;
    border-radius:  60%;
    margin: auto;
    position: relative;
    background: linear-gradient(
        0deg,
        rgb(10, 160, 10) 20%,
        rgb(50, 10, 160 , .2) 20%
    );
}
.init::before {
    content:  "Tipo Iniciativa";
    position: absolute;
    top : 0;
    left: 0;
    background: rgb(243, 241, 241) content-box;
    padding : .8em;
    box-sizing: border-box;
    font: size 3rem; 
    color: seagreen;
    text-align: center;
    line-height: 8rem;
    transform: rotate();
   
}
.hh{
    position: center;
    color: rgb(9, 73, 37);
    text-align: center;
    
}