.container-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.individual-card{
    border: 1px solid #0039A6;
    border-radius: 4px;
    max-width: 100%;
    font-size: small;
    padding: 2rem;
    margin-bottom: 2rem;
}

.number{
    font-family: "Geometria-Regular";
    color: #0039A6;
    margin-right: 8px;
}
.name{
    color: #0039A6;
}

a:link {
    text-decoration: none;
}

.description{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(112, 112, 112);
}

.tags-box{
    min-height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-card{
    height: 37px;
    color: #0039A6;
    margin-right: 15px;
}

.changeBox{
    margin-top: 20px;
}

.change{
    height: 37px;
    background-color: rgb(54, 190, 253);
    padding: 6px 15px;
    border-radius: 20px;
}

.red{
    background-color: red;
}