.state-info-p{
    margin-top: 25px;
    margin-bottom: 30px;
}

.select-state{
    width: 350px;
}

.item-show{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    color: #0039A6;
}

.info-data{
    margin-top: 15px;
    color: rgba(15,25,30,0.8);
}

.capitalize{
    text-transform: capitalize;
}
