.cho-btn-status{
    display: flex;
    flex-direction: row;
    padding: 0 20%;
}

.workshop-button{
<<<<<<< HEAD
    width: 200px;
    height: 168px;
    background-color: #0039A6;
    color: #fff;
    display: block;
    margin: 0 auto;
    background: linear-gradient(180deg, #0039A6 0%, rgba(255, 255, 255, 0) 100%), rgba(5, 190, 80, 0.8);
    border-radius: 4px;
}

.icon-button{
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.workshop-button:hover{
    background-color: #003aa6;
=======
    width: 8rem;
    height: 2.5rem;
    background-color: #0039A6;
    color: #fff;
    margin: 1rem;
    border-radius: 4px;
}
.icon-img{
    width: 1.5rem;
    height: 1.5rem;
>>>>>>> d7e63008b334a621c4aef0f1036c9e7afbfe462b
}