.cho-btn-status{
    display: flex;
    flex-direction: row;
    padding: 0 20%;
}

.workshop-button{
    width: 200px;
    height: 168px;
    background-color: #0039A6;
    color: #fff;
    margin: 1rem;
    border-radius: 4px;
    display: block;
    flex-direction: column;
    justify-content: space-around;
    padding: 8%;
}

.workshop-button:hover{
    margin: 1rem;
    background: linear-gradient(180deg, #0039A6 0%, rgba(255, 255, 255, 0) 100%), rgba(5, 190, 80, 0.8);
}
